# ---------------------------
# Node / TypeScript Backend + Front
# ---------------------------

node_modules/
*/node_modules/

# build
dist/
build/

# env files
.env
*.env

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# system files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Supabase local
.supabase/
